.checkout-container {
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.checkout-container h2,
.checkout-container p,
.checkout-container label {
  color: #fff;
}

.checkout-container input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #fff;
  background-color: #282828;
  color: #fff;
  width: 100%;
}

.checkout-container input::placeholder {
  color: #ccc;
}

.checkout-container button {
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-container button:hover {
  background-color: #555;
}
